name: Build and Test

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development

jobs:
  build-and-test:
    name: Build and Test
    strategy:
      fail-fast: false
      matrix:
        os: ['macos-latest']
        java: [8]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/cache@v1
        with:
          path: ${HOME}/.m2/repository
          key: pcap-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            pcap-maven-


      - uses: actions/checkout@v2
        with:
          fetch-depth: 1


      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
          architecture: x64

      - name: actions/setup-panama
        run: |
          sudo mkdir -p /usr/local/jvm
          sudo chown -R $(whoami) /usr/local/jvm
          ./.github/scripts/install-jdk.sh -f panama -w /tmp -t /usr/local/jvm/panama -v
        if: matrix.os == 'macos-latest' || matrix.os == 'ubuntu-latest'


      - name: actions/setup-pcap
        run: |
          find /usr/lib/ -iname "libpcap*"
          mkdir -p ~/Library/Java/Extensions
          cp -rf /usr/lib/libpcap.* ~/Library/Java/Extensions
          sudo chown $(whoami):admin /dev/bpf*
        if: matrix.os == 'macos-latest'

      - name: actions/setup-pcap
        run: |
          sudo apt-get update && sudo apt-get -y install libpcap0.8
          sudo setcap cap_net_raw,cap_net_admin=eip /usr/local/jvm/panama/bin/java
        if: matrix.os == 'ubuntu-latest'

      - name: actions/setup-pcap
        run: |
          choco install nmap
        if: matrix.os == 'windows-latest'


      - name: Build (Mac OS)
        run: |
          export JAVA_HOME_8=${JAVA_HOME}
          export JAVA_HOME_14=/usr/local/jvm/panama
          export JAVA_HOME=${JAVA_HOME_14}
          echo "JAVA_HOME_8 = $JAVA_HOME_8"
          echo "JAVA_HOME_14 = $JAVA_HOME_14"
          echo "JAVA_HOME = $JAVA_HOME"
          ./mvnw -B -t .mvn/toolchains.xml clean package jacoco:report-aggregate sonar:sonar -Pcoverage -Plegacy-support -Pformat -Psonar -Djava.library.path=/usr/lib -Dsonar.login="${{ secrets.sonar_token }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: matrix.os == 'macos-latest'

      - name: Build (Ubuntu)
        run: |
          export JAVA_HOME_8=${JAVA_HOME}
          export JAVA_HOME_14=/usr/local/jvm/panama
          export JAVA_HOME=${JAVA_HOME_8}
          echo "JAVA_HOME_8 = $JAVA_HOME_8"
          echo "JAVA_HOME_14 = $JAVA_HOME_14"
          echo "JAVA_HOME = $JAVA_HOME"
          ./mvnw -pl '!api,!tests' -t .mvn/toolchains.xml clean package -Dpcap.unsafe=true jacoco:report-aggregate -Pcoverage -Plegacy-support -Pformat
        if: matrix.os == 'ubuntu-latest'